In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# List of Tuples
students = [ ('None', 34, 'Sydeny' , 'Australia') ,
             ('Riti', 30, 'Delhi' , 'India' ) ,
             ('Vikas', 31, 'Mumbai' , 'India' ) ,
             ('Neelu', 32, 'Bangalore' , 'None' ) ,
             ('John', 16, 'New York' , 'US') ,
             ('Mike', 17, 'las vegas' , 'US')  ]
#Create a DataFrame object
dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 

# Get names of indexes for which column Age has value 30
indexNames = dfObj[dfObj['Name'] == 'None' ].index
dfObj.drop(indexNames , inplace=True)
dfObj
indexNames = dfObj[dfObj['Country'] == 'None' ].index
dfObj.drop(indexNames , inplace=True)
dfObj

    Name  Age       City Country
b   Riti   30      Delhi   India
c  Vikas   31     Mumbai   India
e   John   16   New York      US
f   Mike   17  las vegas      US